doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		meta(http-equiv="x-ua-compatible" content="ie=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0")
		title David Felix: I make things better
		link(rel="stylesheet" href="css/app.css")
		link(rel="stylesheet" href="fonts/foundation-icons/foundation-icons.css")
		script(src="https://code.jquery.com/jquery-3.1.1.min.js")
		script(src="js/app.js")
	body
		header.row
			.column.small-4.medium-5
				h1.title David Felix:
				h3 I make things better
			.column.small-8.medium-7
				nav
					//- add data attributes between()
					ul.horizontal.menu.top-actions.align-right(data-magellan data-sticky-container)
						li: a.fi-asterisk(href="#services")  Services
						li: a.fi-laptop(href="#previous-work")  Previous Work
						li: a.fi-clipboard-notes(href="#about")  About
						li: a.fi-comment-quotes(href="#contact")  Contact
		section#services.row
			h2.text-center Services
		section#previous-work.row
			h2.text-center Previous Work
			article.column.previous-work-article
				h3.text-center  Museum Brochure
				.column.small-6
				.column.small-6
					table
						tr
							td Client:
							td
						tr
							td Date:
							td
						tr
							td Notes:
							td
			article.column.previous-work-article
				h3.text-center  Aquasol Sticker/Brochure
				.column.small-6
				.column.small-6
					table
						tr
							td Client:
							td
						tr
							td Date:
							td
						tr
							td Notes:
							td
			article.column.previous-work-article
				h3.text-center  K-pasa Weekly Guide
				.column.small-6
				.column.small-6
					table
						tr
							td Client:
							td
						tr
							td Date:
							td
						tr
							td Notes:
							td
			article.column.previous-work-article
				h3.text-center  Random Ads I Made
				.column.small-6
				.column.small-6
					table
						tr
							td Client:
							td
						tr
							td Date:
							td
						tr
							td Notes:
							td
			article.column.previous-work-article
				h3.text-center  All For The Win Crew Logo
				.column.small-6.xsmall-12
				.column.small-6.xsmall-12
					table
						tr
							td Client:
							td Myself
						tr
							td Date:
							td 2016
						tr
							td Notes:
							td I am the owner of a GTA Online Gaming Crew. As such, we have to have a certain presence in the online community, and the logo is key to achieving this. Presence and recruitment. This logo embodies exactly who we are and what we do, which is having fun, being dangerous and being elegant at the same time. The cartoon hands holding a gun indicate that we do not take ourselves too seriously, but that you should. The colors are very elegant, and all over all go well with most other colors you might have when applying the logo.
			article.column.previous-work-article
				h3.text-center  aviftw.com
				.column.small-6
				.column.small-6
					table
						tr
							td Client:
							td
						tr
							td Date:
							td
						tr
							td Notes:
							td
			article.column.previous-work-article
				h3.text-center  Le Cime Dell'Italia Poster
				.column.small-6
				.column.small-6
					table
						tr
							td Client:
							td
						tr
							td Date:
							td
						tr
							td Notes:
							td
			article.column.previous-work-article
				h3.text-center  Manú Travel Brochure/Business Card
				.column.small-6
				.column.small-6
					table
						tr
							td Client:
							td
						tr
							td Date:
							td
						tr
							td Notes:
							td
		section#about.row
			h2.text-center About
		section#contact.row
			h2.text-center Contact